.list {
  width: 400px;
  padding-left: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.button {
  color: #fff;
  background-color: #1e99e0;
  border: none;
  outline: none;
  padding: 8px 22px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 14px;
}

.button:hover {
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #1eb88a;
}
